.cinza {
  background-color: #cecece;
}

.page {
  height: 100vh;
}

.conteudo {
  height: calc(100vh - 192px);
}

.centro {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
