<div class="container centro">
  <h1 class="display-4 text-center">Bem vindo ao Cadastro de Membros</h1>
  <!-- <div class="card text-center mt-4 mb-4">
    <div class="card-body p-5">
      <h5 class="mb-4">Digite abaixo suas credenciais</h5>
      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-dark text-light">Login</span>
        </div>
        <input type="text" class="form-control" />
      </div>
      <div class="input-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-dark text-light">Senha</span>
        </div>
        <input type="text" class="form-control" />
      </div>
    </div>
  </div> -->
  <button
    type="button"
    routerLink="/membros"
    class="btn btn-dark btn-lg btn-block"
  >
    <i class="fa fa-sign-in"></i> Entrar
  </button>
</div>
